@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);


html {
  margin: 0;
  height: 100%;
  /*background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  
}

body {
  margin: 0;
  height: 100%;
  /*background: transparent;*/
  font-family: 'Lato', Helvetica;
  font-size: 17px;
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

.main {
  background: #FFF;
  height: 100%;

}

.logo {
  margin-top: 50%;
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  font-size: 4em;
  color: #333;
}

.subtitle {
  font-weight: 200;
  text-align: center;
  color: #333;
}

.middle {
  background: #0fc2b0;
  height: 50%;
  color: #FFF;
}

.signup {
  background: #eee;
  padding: 20%;
  height: 100%;
  text-align: center;
}

.signup h2 {
  color: #0fc2b0;
  font-weight: 200;
  text-align: center;
  margin-bottom: 3%;
}

.spam {
  color: #888;
  text-align: center;
  font-size: 13px;
  margin-top: 1%;
}

.form-control {
  border-color: #0fc2b0;
  background: #eee;
  color: #0fc2b0;
}

.form-control:focus {
  border-color: #0fc2b0;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
   color: #0fc2b0;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #0fc2b0;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #0fc2b0;  
}

.form-control:-ms-input-placeholder {  
   color: #0fc2b0;  
}

.btn {
  background: #0fc2b0;
  color: #eee;
  font-size: 16px;
  height: 50px;
  padding: 10px 16px;
}

.btn:hover {
  background: #eee;
  color: #0fc2b0;
  border: 1px solid #0fc2b0;  
}

@media (min-width: 768px) { 
  .logo {
    margin-top: 15%;
    font-size: 10em;
  }
}