@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Lato';
  font-size: 17px;
  background: #0fc2b0;
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

a {
  color: #FFF;
}

.header {
  background: #0fc2b0;
  padding: 0.5em;
 
}

.blog {
  margin-top: -17%;
  float: right;
  border: 2px solid #FFF;
  padding: 0 2%;
}

.logo {
  padding-top: 3%;
  font-family: 'Hammersmith One', Futura;
  font-size: 4em;
  letter-spacing: 2px;
  color: #FFF;
  text-align: center;
}

.box {
  /*background: url(../img/background.jpg) no-repeat center center;
  background-size: cover;*/

  padding: 3%;
}

.tag {
  padding: 0 3%;
}

.subtitle {
  font-weight: 200;
  text-align: center;
  color: #FFF;
}

.signup {
  padding: 5%;
  text-align: center;
}

.signup h2 {
  color: #FFF;
  font-weight: 200;
  text-align: center;
  margin-bottom: 3%;
}

.spam {
  color: #FFF;
  text-align: center;
  font-size: 13px;
  margin-top: 1%;
}

.form-control {
  border-color: #0fc2b0;
  background: #FFF;
  color: #0fc2b0;
}

.form-control:focus {
  border-color: #0fc2b0;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
   color: #0fc2b0;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #0fc2b0;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #0fc2b0;  
}

.form-control:-ms-input-placeholder {  
   color: #0fc2b0;  
}

.btn {
  background: #0fc2b0;
  color: #FFF;
  border: 2px solid #FFF;
  font-size: 16px;
  height: 50px;
  padding: 10px 16px;
}

.btn:hover {
  background: #FFF;
  color: #0fc2b0;
  border: 1px solid #0fc2b0;
  -webkit-transition: ;
      -moz-transition: ;
       -ms-transition: ;
        -o-transition: ;
           transition: ; 
}

@media (min-width: 768px) { 
  
  .blog {
    margin-top: 4%;
  }
  .points {
    margin: 5% 3% ;
    background: #e3e3e3;
  }

  .actions {
    margin-top: 5%;
    text-align: center;
    font-size: 15px;
  }

  .icon {
    width: 100%;
    line-height: 1em;
    text-align: center;
    color: #FFF;
    font-size: 6em;
    font-weight: 400;
  }

  .med {
    color: #ba4343;
  }

  .film{
    color: #3d3d3d;
  }

  .plane {
    color: #408acf;
  }
}